.all{
    width: 750px;
    margin: 0 auto;
    position: relative;
    font-family: 'Roboto', sans-serif;
    box-sizing: content-box;
}
.header{
    width: 100%;
    height: 50px;
    font-family: 'Roboto', sans-serif;
}
.contact{
    height: 50px;
}
.logo{
    width: 39px;
    height: 34px;
    background: url(../img/logo_extra_small.png);
    margin: 9px 0px 0px 15px;
    float: left;
}
.cont{
    display: none;
}
.button{
    display: none;
}
.language{
    float: right;
    margin: 15px 72px 0px 0px;
}
.navigations{
    display: none;
}
.search{
    display: none;
}
.menu{
    width: 30px;
    height: 20px;
    background: url(../img/menu.png);
    border-bottom: solid 4px #009a9a;
    position: absolute;
    top: 14px;
    right: 15px;
}
.photo{
    height: 150px;
    background-position: 50% 50%;
    background-size: 135%;
}

.photo>h1{
    margin: 32px 0px 0px 90px;
    font-size: 280%;
}
.sidebar1{
    display: none;
}
.context-top{
    width: 100%;
    height: 330px;
}
.context-top>p{
    display: inline-block;
    font-size: 95%;
}
.context-top>p:first-child{
    width: 100%;
}
.slider-top{
    width: 647px;
    height: 457px;
    margin: 30px 0px 0px 55px;
}
.item active>img{
    width: 647px;
    height: 457px;
}
.item>img{
    width: 647px;
    height: 457px;
}
.carousel-control.right{
    right: -30px;
}
.carousel-control.left{
    left: -30px;
}
.carousel-control {
    top: 200px;
    bottom: 200px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
    top: 49%;
}
.context-both{
    width: 100%;
    height: 280px;
    margin: 75px 0px 0px 25px;
}
.context-both>p{
    display: inline-block;
    font-size: 95%;
}
.context-both>p:first-child{
    width: 100%;
}
.slider-both{
    width: 647px;
    height: 457px;
    margin: 30px 0px 0px 55px;
}
.form{
    width: 450px;
    height: 335px;
    background-color: #ecf7f7;
    margin: 100px 0px 0px 150px;
    float: left;
}
input{
    width: 418px;
}
select{
    width: 418px;
}
input:last-child{
    margin: 20px 0px 0px 185px;
}
.banner{
    width: 450px;
    height: 237px;
    margin: 30px 0px 0px 150px;
}
.banner>h3{
    margin: 105px 0px 0px 190px;
}
.pre-footer{
    background-position: 50% 50%;
    background-size: 220%;
}
.high-pre-footer>p{
    margin: 20px 0px 0px 105px;
}

.center-pre-footer>div{
    width: 210px;
    height: 186px;
}

.center-pre-footer>div:first-child{
    margin: 15px 0px 0px 35px;
}
.center-pre-footer>div>p{
    font-size: 140%;
    margin: 45px 0px 0px 0px;
}
.center-pre-footer>div:first-child p{
    margin-top: 60px;
}
.center-pre-footer>div>a{
    margin: 10px 0px 0px 46px;
}
.footer-top>ul>li{
    display: none;
}
.footer-top>ul{
    float: none;
    margin: 15px 0px 0px 0px;
}
.footer-top{
    text-align: center;
    height: 240px;
}
.footer-top>ul:first-child{
    margin: 30px 0px 0px 0px;
}
.footer-both>p{
    display: block;
    position: absolute;
}
.footer-both>p:first-child{
    margin: 95px 0px 0px 330px;
}
.footer-both>p:last-child{
    margin: 120px 0px 0px 250px;
}
.social{
    margin-left: 240px;
}
